*#
*~
.bundle
bundle
coverage
config/config.yml
config/deploy.rb
config/deploy
config/mongoid.yml
config/newrelic.yml
db/*.sqlite3
.DS_Store
.env
.generators
log/*.log
.idea
NOTES
.rakeTasks
*.rbc
*.rbx
.rvmrc
tmp/**/*
tmp/*
